.videoPlayerPanel {
    position: absolute;
    bottom: 0px;
    padding: 4px 36px;
    left: 0;
    right: 0;
    z-index: 20;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.42) 25%,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0.8) 75%,
            rgba(0, 0, 0, 1));
    user-select: none;

    .videoPlayerTimelineWrapper {
        position: relative;
        width: 100%;
        height: 10px;
        border-radius: 3px;
        background: rgba(255, 255, 255, .8);
        cursor: pointer;

        .tooltip {
            position: fixed;
            transform: translateX(-50%);
            color: white;
            background: black;
            padding: 0px 4px;
            font-size: 1.4em;
            pointer-events: none;
            top: calc(70% - 20px);

            &.fullScreen {
                top: calc(90% - 20px);
            }
        }

        .videoPlayerTimeline {
            position: absolute;
            border-radius: inherit;
            top: 0;
            bottom: 0;
            left: 0px;
            height: 100%;
            min-width: 20px;
            background: rgba(255, 255, 255, 1);
            opacity: 1;
            z-index: 22;

            &::before {
                top: 50%;
                transform: translateY(-50%);
                height: 24px;
                width: 24px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.3);
                z-index: 1;
                position: absolute;
                right: 0px;
                background-color: #fff;
                content: '';
                display: inline-block;
            }
        }
    }

    .videoPlayerTimelineControls {
        height: 60px;
        margin-left: 12px;
        margin-right: 12px;

        button {
            outline: none;
            border: none;
            cursor: pointer;
            background: none;
        }

        .videoPlayterTimelineControlButtons {
            gap: 24px;

            .muteButtonContainer {
                width: 36px;
                overflow: hidden;
                gap: 26px;

                &.hovered {
                    width: fit-content;
                }
            }

            .playbackValueContainer {
                position: relative;
                right: 4px;
                gap: 6px;
                color: white;
                font-size: 1.2em;
                font-weight: bold;
                vertical-align: top;
            }

            .soundLineContainer {
                position: relative;
                height: 4px;
                width: 75px;
                cursor: pointer;
                background: black;

                .soundLineControlThumb {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    background: #fff;
                    transition: width 0.1s ease;

                    .soundLineControlCorner {
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        transform: translate(50%, -50%);
                        width: 16px;
                        height: 16px;
                        background: white;
                        border-radius: 50%;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }
        }

        .addCommentInput {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 30px;
            border: 2px solid white;
            font-size: 1em;
            width: 90%;
            max-width: 160px;
            border-radius: 15px;
            padding: 0px 10px;
            outline: none;
            background: none;
            color: white;

            &::placeholder {
                font-size: inherit;
                color: inherit;
                text-align: center;
            }
        }
    }
}