@keyframes pulse_v1 {
    70% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.9);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.videoPlayer {
    width: 100%;
    height: 100%;
    position: relative;

    .draggableButtonContainer {
        height: fit-content;
        width: fit-content;
        z-index: 1;

        .resizePoint {
            position: absolute;
            z-index: 2;
            background-color: transparent;
        }

        .resizeHandleTop {
            top: 0px;
            left: 20px;
            right: 20px;
            cursor: ns-resize;
            height: 8px;
        }

        .resizeHandleBottom {
            bottom: 0px;
            left: 20px;
            right: 20px;
            cursor: ns-resize;
            height: 8px;
        }

        .resizeHandleLeft {
            width: 4px;
            top: 20px;
            bottom: 20px;
            left: 0px;
            cursor: ew-resize;
        }

        .resizeHandleRight {
            width: 4px;
            top: 20px;
            bottom: 20px;
            right: 0px;
            cursor: ew-resize;
        }

        .resizeHandleTopLeft {
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            cursor: nwse-resize;
        }

        .resizeHandleTopRight {
            right: 0;
            top: 0;
            width: 16px;
            height: 16px;
            cursor: nesw-resize;
        }

        .resizeHandleBottomLeft {
            left: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            cursor: nesw-resize;
        }

        .resizeHandleBottomRight {
            right: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            cursor: nw-resize;
        }

        .draggableButton {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 2em;
            border: 0.2em solid;
            will-change: box-shadow;
            -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
            padding: 0px 16px;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: move;
            z-index: 2;
        }
    }

    .playButton {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -40% -50%;
        background: rgb(27, 155, 243);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        outline: none;
        border: none;
        animation: pulse_v1 2500ms infinite ease-in-out alternate;
        animation-delay: 1s !important;

        img {
            position: absolute;
            z-index: 2;
            object-fit: cover;
            height: auto;
            width: 70%;
            cursor: pointer;
            left: 55%;
            transform: translateX(-50%);
        }
    }

    .videoWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;

        video {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            height: 100%;
            width: 100%;
            cursor: pointer;
            z-index: -1;
        }
    }
}