.homePageContainer {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: auto;
    left: 0;
    top: 0;
    background-image: url('/src/static/images/sample_gradient.webp');

    .uploadVideoPanel {
        margin-top: 100px;
        background: white;
        border-radius: 10px;
        width: 100%;
        max-width: 800px;
        padding: 48px;
        height: fit-content;
        -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;

        .uploadeVideoPanelTitle {
            line-height: 1.2;
            font-weight: 900;
            font-size: 3.5rem;
            color: rgba(0, 0, 0, .87);

            @media (min-width: 0px) and (max-width: 540px) {
                font-size: 1.75em;
            }
        }

        .uploadVideoDropOverlay {
            height: calc(100% - 14px);
            border-radius: 5px;
            width: 484px;
            border: 1px solid #eaeaea;
            height: 186px;

            .inside {
                border: 1px dashed #dfdfdf;
                margin: 7px;
                height: calc(100% - 14px);
                width: 100%;
                border-radius: 3px;
            }

            @media (min-width:0px) and (max-width:540px) {
                width: calc(322px - 2px);
                height: calc(186px - 2px);
            }

            .uploadVideoInput {
                display: none;
            }

            .uploadVideoTitle {
                font-size: 17px;
                line-height: 1.35;
                font-weight: 500;
                color: #000;
                margin-top: 15px;
                margin-bottom: 5px;
                text-align: inline-start;
                padding: 0 15px;

                .uploadVideoLink {
                    color: rgba(34, 117, 215, .9);
                    cursor: pointer;
                    text-underline-offset: 2px;

                    @media (min-width:1024px) {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .aboutVideoContent {
        gap: 16px;
        width: 100%;

        .namedInput {
            gap: 5px;
            width: 100%;
            
            @media (min-width:0px) and (max-width:540px) {
                margin-top: 10px;
                gap:0px;
            }

            .inputName {
                font-weight: bold;
                font-size: 1.3em;
                color: rgba(0, 0, 0, .87);
            }

            .input {
                padding: 0px 10px;
                border-radius: 3px;
                background: #f2f2f2;
                height: 3em;
                line-height: 2.5em;
                outline: none;
                border: none;
                margin: 5px auto;
                max-width: 550px;
                width: 100%;
                color: rgba(0, 0, 0, .87);

                @media (min-width:0px) and (max-width:540px) {
                    height: 2.5em;
                    font-size: 1em;
                    max-height: 35px;
                }
            }
        }
    }
}